# ignore packages installed by npm
node_modules*
bin*
data*
lib/readme

#ignore log files
logs*

# any other files you don't want to check,
# such as .DS_Store (OSX), *.bak, etc.
.DS_Store
*~

# crediantial
credentials.js
user.sysadmin

# ignore uploaded data
data

# don't store SSL certs in repo!
ssl