<h2>Menú de navegación</h2>
<p>El menú superior de navegación está siempre visible. Así puedes cambiar de funcionalidad rápidamente. Tienes disponibles
    las opciones para volver a la pantalla de inicio (dashboard), visualizar datos de un paciente y dar de alta uno nuevo. Después se encuentra la barra de búsqueda de pacientes y el botón que muestra esta ayuda.</p>

<h2>Alta de paciente</h2>
<p>Este formulario da de alta nuevos pacientes en el sistema. Todos los campos son requeridos, a excepción de la media de crisis al año y el campo de "Otros diagnósticos". Es imprescindible que el paciente rellene y firme el consentimiento 
de participación en el programa bip4cast para concluir el proceso de alta satisfactoriamente.</p>

<h2>Visualización</h2>
<p>Se podrán visualizar datos de test y medicinas guardados en el sistema de cada paciente. Para ello, se seleccionan dos fechas (no podrán estar vacías) en los campos "Comienzo" y "Final". Después, pulsando en el símbolo "+" de la lista de pacientes una pequeña ventana emergente permite buscar pacientes por nombre en el sistema. Aquellos que deseen ser agregados a la pantalla para visualizar sus datos, debe marcarse la casilla correspondiente.</p>
<p>Una vez agregados, bajo el nombre de cada paciente, aparecen los distintos tipos de gráficos a representar.
    <ul>
        <li>Distribución: representa la proporción de medicamentos y resultados de los test en el intervalo de fechas seleccionado. Pueden mostrarse u ocultarse los que se deseen haciendo click en el color correspondiente de la leyenda.</li>
        <li>Histogramas: representa un histograma que muestra la frecuencia en días en los que el tipo de medicamento seleccionado se tomaba cero, una, dos,... veces.</li>
        <li>Mapa de calor: muestra, en escala de colores, el número de tomas del tipo de medicamento seleccionado.</li>
    </ul>
</p>

<h2>Búsqueda de paciente</h2>
<p>La barra de búsqueda se encuenta en la parte superior derecha de la pantalla. Al introducir un texto, el sistema buscará pacientes cuyo nombre contenga el texto escrito. Los resultados se muestran en una nueva ventana.</p>
<p>Al seleccionar un paciente, se mostrará la ventana principal de su perfil.</p>

<h2>Perfil del paciente</h2>
El perfil del paciente consta de cuatro opciones

<h3>Principal</h3>
Muestra la información fenotípica del paciente así como sus datos personales. Los botones que aparecen permiten editar esta información o eliminar un paciente completamente del sistema.

<h3>Medicación</h3>
<p>Las últimas 15 recetas en orden cronológico se muestran en pantalla. El campo de texto permite hacer búsquedas por fecha activa, es decir, filtrará las recetas que estaban vigentes en la fecha seleccionada (incluidas aquellas sin final activas ese día). Debajo, aparece un botón para agregar una nueva receta. Este despliega una ventana emergente para tal fin.</p>
<p>La tabla muestra las recetas, indicando fechas de inicio y final, hora de toma y tipo de medicamento. Los botones a la derecha de cada receta permiten editar la misma o eliminarla.</p>

<h3>Informes médicos</h3>
<p>Muestra por defecto el último informe realizado, así como los valores de cada una de las preguntas de los test EEAG, HDRS, YMRS y las tres escalas de PANSS. El campo de fecha permite acceder a un test realizado en la fecha indicada. Para comodidad del usuario, el botón "Buscar test por intervalo" permite, introduciendo un intervalo de fechas, obtener los test almacenados en el sistema entre las fechas seleccionadas. Después, será necesario acceder al test con el procedimiento descrito anteriormente.</p>

<h4>Añadir nuevo test</h4>
<p>El botón "Añadir nuevo test" permite registrar un nuevo test en el sistema. Será necesario indicar la fecha de realización del test en el campo "Fecha". Se permiten agregar cuatro test: EEAG, HDRS, YMRS y las tres escalas de PANSS.
Estas aparecen separadas en pestañas. Seleccionando una de ellas, aparecerán las preguntas del test seleccionado. Para confirmar los valores de dicho test, será necesario marcar la casilla "Datos válidos". De lo contrario, los datos introducidos no serán almacenados.
</p>

<h3>Comunicación</h3>
<p>Los últimos 15 mensajes en orden cronológico se muestran en pantalla. El campo de texto permite hacer búsquedas por fecha activa, es decir, filtrará los mensajes que estaban vigentes en la fecha seleccionada . Debajo, aparece un botón para agregar uno nuevo. Este despliega una ventana emergente para tal fin.</p>
<p>
Al agregar un nuevo mensaje se solicitará fecha o intervalo de fechas (si se desea que el mensaje se envíe de forma programada, en el intervalo de fechas seleccionado, al paciente). Si se desea enviar a una hora concreta, puede indicarse explícitamente esta, de lo contrario, al marcar la casilla "Enviar ahora" el mensaje será enviado en ese momento.
</p>
<p>La tabla muestra los mensajes, indicando fechas de inicio y final, hora y mensaje. Los botones a la derecha de cada receta permiten editar el mismo o eliminarlo.</p>