<h2>¡Bienvenido a bip4cast!</h2>

<p>Esta aplicación web te permitirá gestionar a tus pacientes, controlar su mediación así como comunicarte con ellos. Además, tendrás la opción de mantener un registro de ciertos test heteroadministrados que puedes realizarles (actualmente EEAG, HDRS, YMRS y las tres escalas de PANSS). También puedes visitar <a href="http://www.bip4cast.org">la web del proyecto bip4cast</a>.
</p>
<p>
De momento la aplicación está en mitad de su desarrollo. Te pedimos algo de paciencia, es posible que algunas cosas no funcionen como deberían o que estén incompletas. Pero no te preocupes, ¡estamos trabajando en ello! Si encuentras algún problema, por favor, registra un ticket en <a href="https://github.com/davidpgomez/bip4cast">la web del proyecto en GitHub</a> o contacta con el equipo desarrollador.
</p>

<h2>¿Por dónde empezar?</h2>
<p>¡Los pacientes son siempre lo primero! Deberías <a href="/register">dar de alta</a> algunos para comenzar. Después, puedes acceder a sus datos desde el <a href="/tracing">formulario de búsqueda</a>. A partir de ahí, podrás asignares medicación, enviar mensajes, y controlar los test que les realizas.
</p>

<h2>Algunos fallos conocidos</h2>
<ul>
    <li>Los menús de alerta, ayuda y ajustes aún no funcionan.</li>
    <li>Hay que ser muy estricto en la introducción de datos en ciertos campos, como la fecha.</li>
    <li>Es posible que haya más, no te asustes si los encuentras.</li>
</ul>