<form action="/tracing/process?form=patientsearch" method="post"> 
    <fieldset class="form-group">
        <label for="pac_id_field"> Búsqueda de paciente </label>			
        <input type="text" class="form-control" placeholder="Nombre o apellidos del paciente" name="pac_name" id="pac_id_field"><br> 
    </fieldset>
    <input id="button" type="submit" class="btn btn-primary" value="Buscar">
</form>