{{!-- Scripting --}}

{{#section 'jquery'}}
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script> --}}
<script src="handlebars.min.js"></script>
<script src="templates.js"></script>

<script src="dimpleChart.js"></script>

{{!-- Script to do patient search --}}
<script type="text/javascript">
	 $(document).ready(function(){
         
         $("#search").on('click', function(){
			// text in the search field
			var query = document.getElementById("pac_name").value;
                $.ajax({
                    url: '/tracing/process?form=modalpatientsearch&q='+query,
                    type: 'POST',
                    success: function(data){
                        $('#searchResults').empty();
                        $('#searchResults').append(data);
                    },
                    error: function (){
                        showDismissibleAlert('Ooops!', 'Error en la comunicación con el servidor. Por favor, refresque la página y vuelva a intentarlo', 'alert-danger');
                        loadRecordsDataset(undefined);
                    }
                });
		});
         // event binding when press Enter key in the modal search field
         $("#pac_name").keyup(function(event){
            if(event.keyCode == 13){
                $("#search").click();
            }
        });
         $('#adddatasets').on('click', function(){
            // we get the ids of the displayed users
            var displayedUsers = $('.distr-sel').map(function(){
                return $(this).attr('data-id');
            }).get();
			// we only select checkboxes which are checked and discard other attributes such as __proto__) 
            // and exclude those already present in #patientsList  
			var list = $('.dataset_sel:checked').map(function(p, obj){
				return{
					name : $(obj).attr('data-name'),
					id : $(obj).attr('data-id')
				}
			}).get().filter(function(p){
                return !displayedUsers.includes(p.id);
            }); 
			// render results by templating
			var template = Handlebars.getTemplate('/templates/patientselector');
			var context = {pat_list : list}
			$('#patientsList').append(template(context));
		});
         
        function requestPrescriptionDataset(pat_id){
            return $.ajax({
				contentType : 'application/json',
				data : JSON.stringify({beginDate : $('#begindate').val(), endDate : $('#enddate').val()}),
				url: '/api/test/'+pat_id,
				type: 'POST',
			});
        }
        
        function requestTestDataset(pat_id){
            return $.ajax({
					contentType : 'application/json',
					data : JSON.stringify({beginDate : $('#begindate').val(), endDate : $('#enddate').val()}),
					url: '/api/prescriptions/'+pat_id,
					type: 'POST',
				});
        }
			
    $('#patientsList').on('click', '.distr-sel',function (event) {
		var button = event.currentTarget;
		var pat_id = $(button).attr('data-id');
        var validDate = ($('#begindate').val() != '' || $('#enddate').val() != '');
        if(!validDate){
            showDismissibleAlert('Datos insuficientes', 'Introduzca valores en los campos de fecha', 'alert-danger');
        }  
        else {
            // we make dissapear the previous chart
            loadPrescriptionDataset(undefined);
            loadRecordsDataset(undefined);
            deleteChart();
            initDistributionChart();
            // we request for data to API
            $.when(requestPrescriptionDataset(pat_id), requestTestDataset(pat_id)).done(function (testDatasetResponse, prescriptionDatasetResponse){
                    if(testDatasetResponse[1] === 'success'){
                        if(testDatasetResponse[0].length != 0){
                            loadRecordsDataset(testDatasetResponse[0]);
                        }
                        else{
                            showDismissibleAlert('Información', 'No se han encontrado resultados de test para el intervalo seleccionado', 'alert-info');
                            loadRecordsDataset(undefined);
                        }
                    } else{
                        showDismissibleAlert('Ooops!', 'Error en la comunicación con el servidor. Por favor, refresque la página y vuelva a intentarlo', 'alert-danger');
                        loadRecordsDataset(undefined);        
                    }
                    if(prescriptionDatasetResponse[1] === 'success'){
                        if(prescriptionDatasetResponse[0].length != 0){
                            loadPrescriptionDataset(prescriptionDatasetResponse[0]);
                        }
                        else{
                            showDismissibleAlert('Información', 'No se han encontrado resultados de medicación para el intervalo seleccionado', 'alert-info');
                            loadPrescriptionDataset(undefined);
                        }
                    } else{
                        showDismissibleAlert('Ooops!', 'Error en la comunicación con el servidor. Por favor, refresque la página y vuelva a intentarlo', 'alert-danger');
                        prescriptionDatasetResponse(undefined);        
                    }
                    drawDistribution();
                });
            
        }
	});
    $('#patientsList').on('click', '.histogram-sel',function (event) {
        var button = event.currentTarget;
        var pat_id = $(button).attr('data-id');
        var drug;
        switch ($(button).attr('data-drug')){
            case 'lit': drug = 'litio'; break;
            case 'antiep': drug = 'antiepileptico'; break;
            case 'antips': drug = 'antipsicotico'; break;
            case 'ansio': drug = 'ansioliticos/hipnoticos'; break;
            case 'antid': drug = 'antidepresivos'; break;
            case 'otros': drug = 'otros'; break;
        }    
        var validDate = ($('#begindate').val() != '' || $('#enddate').val() != '');
        if(!validDate){
            showDismissibleAlert('Datos insuficientes', 'Introduzca valores en los campos de fecha', 'alert-danger');
        }
        else{
            loadPrescriptionHistogramDataset(undefined, undefined);
            deleteChart();
            initHistogramChart();
            $.when(requestTestDataset(pat_id)).done(function(data, prescriptionDatasetResponse){
                if(prescriptionDatasetResponse === 'success'){
                    if(data.length != 0){
                        // cargar el dataset
                        loadPrescriptionHistogramDataset(drug, data);
                    }
                    else{
                        showDismissibleAlert('Información', 'No se han encontrado resultados de medicación para el intervalo seleccionado', 'alert-info');
                        loadPrescriptionHistogramDataset(undefined, undefined);
                    }
                } else{
                    showDismissibleAlert('Ooops!', 'Error en la comunicación con el servidor. Por favor, refresque la página y vuelva a intentarlo', 'alert-danger');
                    loadPrescriptionHistogramDataset(undefined, undefined);        
                }
                drawHistogram();
            });
        }
    });
    $('#patientsList').on('click', '.heatmap-sel',function (event) {
        var button = event.currentTarget;
        var pat_id = $(button).attr('data-id');
        var drug;
        switch ($(button).attr('data-drug')){
            case 'lit': drug = 'litio'; break;
            case 'antiep': drug = 'antiepileptico'; break;
            case 'antips': drug = 'antipsicotico'; break;
            case 'ansio': drug = 'ansioliticos/hipnoticos'; break;
            case 'antid': drug = 'antidepresivos'; break;
            case 'otros': drug = 'otros'; break;
        }    
        var validDate = ($('#begindate').val() != '' || $('#enddate').val() != '');
        if(!validDate){
            showDismissibleAlert('Datos insuficientes', 'Introduzca valores en los campos de fecha', 'alert-danger');
        }
        else{
            deleteChart();
            $.when(requestTestDataset(pat_id)).done(function(data, prescriptionDatasetResponse){
                if(prescriptionDatasetResponse === 'success'){
                    if(data.length != 0){
                        // cargar el dataset
                        drawHeatmap(drug, data);
                    }
                    else{
                        showDismissibleAlert('Información', 'No se han encontrado resultados de medicación para el intervalo seleccionado', 'alert-info');
                    }
                }
                else{
                    showDismissibleAlert('Ooops!', 'Error en la comunicación con el servidor. Por favor, refresque la página y vuelva a intentarlo', 'alert-danger');
                }
            });
            
        }
    });
});
</script>

{{/section}}


{{!-- Patient search modal --}}
<div id="addPatient" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar datos de paciente</h4>
            </div>
            <div class="modal-body">
                <fieldset class="form-group">
					<label for="title" class="col-sm-3 control-label">Búsqueda</label>
					<div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nombre o apellidos del paciente" name="pac_name" id="pac_name">
                            <span class="input-group-btn">
                                <button id="search" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
						{{!-- Here we place search results --}}
						<div id="searchResults">
							
						</div>
					</div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="adddatasets">Agregar</button>
            </div>
        </div>
    </div>
</div>

{{!-- We need patient data and dates to draw --}}
<div class="col-sm-4" id="patientsContainter">
    <div>
        
        </div>
	<div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Listado de pacientes<button type="button" class="pull-right btn btn-xs btn-default" data-toggle="modal" data-target="#addPatient"> <span class="glyphicon glyphicon-plus"></span></button></div>
            </div>
            <div class="panel-body" id="patientsList">

            </div>
        </div>
	</div>
</div>

<div class="col-sm-8" id="chartContainer">
	<div class="col-sm-6 pull-left">
		<fieldset class="form-group">
			<label for="begindate">Comienzo</label>
			<input type="date" class="form-control date" id="begindate" pattern="((0)[1-9]|[12][0-9]|3[01])[- /.]((0)[1-9]|1[012])[- /.](19|20)\d\d" title="El formato aceptado es DD/MM/AAAA">
		</fieldset>
	</div>
	<div class="col-sm-6">
		<fieldset class="form-group">
			<label for="enddate">Final</label>
			<input type="date" class="form-control date" id="enddate" pattern="((0)[1-9]|[12][0-9]|3[01])[- /.]((0)[1-9]|1[012])[- /.](19|20)\d\d" title="El formato aceptado es DD/MM/AAAA" required>
		</fieldset>
	</div>
    <small class="text-muted">
        Seleccionar el intervalo de fechas de los datos del paciente que se desean mostrar. Aparecerán, por defecto, los datos de prescripciones como de los resultados de los test realizados al paciente. Puede ocultar o mostrar los datos que desee pulsando en su respectivo color en la leyenda. 
    </small>
</div>


