<h2>Nuevo informe</h2>
<h3>{{date}}</h3>
<div class="btn-group btn-group-centered" role="group">
    <button type="button" class="btn btn-primary">EEAG</button>
    <button type="button" class="btn btn-primary">HDRS</button>
    <button type="button" class="btn btn-primary">YMRS</button>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PANSS <span class="caret"> </span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Positiva</a></li>
            <li><a href="#">Negativa</a></li>
            <li><a href="#">General</a></li>
        </ul>
    </div>
</div>