<div>
{{#each pat_list}}
	<div class="form-control">
		<input type="checkbox"><label>{{name}}</label>
		<input type="checkbox" class="pres_sel" data-id="{{id}}">Recetas
		<input type="checkbox" class="test_sel" data-id="{{id}}">Test
	</div>
{{/each}}
</div>